@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg-primary);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text-primary);
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}

section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 75vw;
  padding: 1rem 2rem;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
}

.glass {
  background: var(--glass-bg);
  backdrop-filter: blur(var(--glass-backdrop-blur));
  border: 1px solid var(--color-border);
  border-radius: 12px;
}

/* animations */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 0.4s linear infinite;
}
